<div class="footer bg-black flex justify-between text-zinc-400 px-4 py-4">
    <div class="elem flex flex-col gap-2">
        <h1 class="text-white mb-12">SHOP</h1>
        <a href="">ALL</a>
        <a href="">COLLECTIONS</a>
    </div>
    <div class="elem flex flex-col gap-2">
        <h1 class="text-white mb-12">ASSISTANCE</h1>
        <a href="">ORDERS & SHIPPING</a>
        <a href="">RETURNS & EXCHANGES</a>
        <a href="">SIZE GUIDE</a>
        <a href="">CONTACT</a>
    </div>
    <div class="elem flex flex-col gap-2">
        <h1 class="text-white mb-12">LEGAL</h1>
        <a href="">TERMS OF SERVICE</a>
        <a href="">PRIVACY POLICY</a>
    </div>
</div>

</body>
</html>