<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <div class="main overflow-x-hidden">
      <div class="nav absolute top-2 left-2 text-black flex justify-between items-center w-full px-4 py-2">
        <a href="#">EYEWEAR</a>
        <a href="#">CART</a>
      </div>
    </div>
