<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <!-- Background -->
    <div id="gradient-bg">
      <div calss="gradient-container">
        <div class="gradient1"></div>
        <div class="gradient2"></div>
        <div class="gradient3"></div>
        <div class="gradient4"></div>
        <div class="gradient5"></div>
      </div>
    </div>

    <!-- Form -->
    <form action="/" method="post" id="form-container">
      <h1 class="title">Login in</h1>
      <% if(error.length > 0){ %>
      <p class="text-red-500 font-[1000]"><%= error %></p>
      <%} %>
      <div class="label">Email</div>
      <input type="email" / name="email">
      <div class="label">Password</div>
      <input type="password" name="password" />
      <input type="submit" class="submit" value="Login in" />
      <div class="label msg">
        ◆ You don't have an account? <a href="/register">Sign up</a>
      </div>
    </form>
  </body>
</html>
