<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <div class="main overflow-x-hidden">
      <div
        class="nav absolute top-2 left-2 text-white flex justify-between items-center w-full px-4 py-2"
      >
        <a href="#"
          ><img src="https://x8.adencys.com/img/logo2.svg" alt=""
        /></a>
        <div class="flex gap-8">
          <a href="/product/create">Create Product</a>
          <a href="#">CART(0)</a>
          <a href="/profile/logout" class="text-red-500">Logout</a>
        </div>
      </div>

      <div class="page1 h-[100vh] w-full overflow-hidden bg-black py-[5vw]">
        <video
          class="object-cover h-full w-full"
          muted
          autoplay
          loop
          src="/videos/video.webm"
        ></video>
      </div>
      <div class="page2 h-[100vh] w-full bg-black px-4 pt-5 overflow-hidden">
        <form action="" class="text-zinc-500 relative w-64">
          <div class="flex gap-[8vw]">
            <label>Style</label>
            <select class="outline-none bg-transparent">
              <option value="All">All</option>
              <option value="Style 1">Style 1</option>
              <option value="Style 2">Style 2</option>
              <option value="Style 3">Style 3</option>
            </select>
          </div>
          <div class="filter-line h-[.5px] bg-white/45 mt-2"></div>
        </form>
        <div class="swiper mySwiper mt-6">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="img h-[95%] w-full bg-red-400 overflow-hidden">
                <img
                  class="object-cover h-full w-full"
                  src="https://x8.adencys.com/img/product4/X1-001-1.jpg"
                  alt=""
                />
              </div>
              <div class="text-zinc-400 flex justify-between mt-2">
                <h3>Name</h3>
                <h3>Price</h3>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img h-[95%] w-full bg-red-400 overflow-hidden">
                <img
                  class="object-cover h-full w-full"
                  src="https://x8.adencys.com/img/product4/X1-001-1.jpg"
                  alt=""
                />
              </div>
              <div class="text-zinc-400 flex justify-between mt-2">
                <h3>Name</h3>
                <h3>Price</h3>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img h-[95%] w-full bg-red-400 overflow-hidden">
                <img
                  class="object-cover h-full w-full"
                  src="https://x8.adencys.com/img/product4/X1-001-1.jpg"
                  alt=""
                />
              </div>
              <div class="text-zinc-400 flex justify-between mt-2">
                <h3>Name</h3>
                <h3>Price</h3>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="img h-[95%] w-full bg-red-400 overflow-hidden">
                <img
                  class="object-cover h-full w-full"
                  src="https://x8.adencys.com/img/product4/X1-001-1.jpg"
                  alt=""
                />
              </div>
              <div class="text-zinc-400 flex justify-between mt-2">
                <h3>Name</h3>
                <h3>Price</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page3 h-min-[100vh] w-full relative">
        <div class="part1 sticky top-0 h-[100vh] w-full flex justify-between">
          <div
            class="left w-1/2 h-full bg-white flex flex-col justify-end text-black px-3 pb-[1vw]"
          >
            <p class="text-[.8vw] leading-[1]">
              WHIP ON THESE FASHIONABLE FRAMES DETAILED WITH AERODYNAMICALLY
              ENGINEERED TITANIUM BROWS AND LIGHTWEIGHT TITANIUM LIBRARY TEMPLES
              WITH CUSTOM RUBBER TIPS TO BE STYLISHLY COMFORTABLE ANYWHERE,
              ANYTIME.
            </p>
            <div
              class="flex justify-between text-[5vw] font-[700] leading-[.9]"
            >
              <h1>ANIMUS Y2</h1>
              <h1>001</h1>
            </div>
            <div class="flex justify-end">
              <a
                class="text-white w-fit rounded-md px-4 py-1 bg-black mt-4 text-sm"
                href="#"
                >Quick Add</a
              >
            </div>
          </div>
          <div class="left w-1/2 h-full bg-red-500">
            <img
              class="h-full w-full object-cover"
              src="https://x8.adencys.com/img/cards/card-1.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="part1 sticky top-0 h-[100vh] w-full flex justify-between">
          <div
            class="left w-1/2 h-full bg-white flex flex-col justify-end text-black px-3 pb-[1vw]"
          >
            <p class="text-[.8vw] leading-[1]">
              WHIP ON THESE FASHIONABLE FRAMES DETAILED WITH AERODYNAMICALLY
              ENGINEERED TITANIUM BROWS AND LIGHTWEIGHT TITANIUM LIBRARY TEMPLES
              WITH CUSTOM RUBBER TIPS TO BE STYLISHLY COMFORTABLE ANYWHERE,
              ANYTIME.
            </p>
            <div
              class="flex justify-between text-[5vw] font-[700] leading-[.9]"
            >
              <h1>ANIMUS Y2</h1>
              <h1>002</h1>
            </div>
            <div class="flex justify-end">
              <a
                class="text-white w-fit rounded-md px-4 py-1 bg-black mt-4 text-sm"
                href="#"
                >Quick Add</a
              >
            </div>
          </div>
          <div class="left w-1/2 h-full bg-red-500">
            <img
              class="h-full w-full object-cover"
              src="https://x8.adencys.com/img/cards/card-2.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="part1 sticky top-0 h-[100vh] w-full flex justify-between">
          <div class="left w-1/2 h-full bg-red-500">
            <img
              class="h-full w-full object-cover"
              src="https://x8.adencys.com/img/cards/card-3.jpg"
              alt=""
            />
          </div>
          <div
            class="left w-1/2 h-full bg-white flex flex-col justify-end text-black px-3 pb-[1vw]"
          >
            <p class="text-[.8vw] leading-[1]">
              WHIP ON THESE FASHIONABLE FRAMES DETAILED WITH AERODYNAMICALLY
              ENGINEERED TITANIUM BROWS AND LIGHTWEIGHT TITANIUM LIBRARY TEMPLES
              WITH CUSTOM RUBBER TIPS TO BE STYLISHLY COMFORTABLE ANYWHERE,
              ANYTIME.
            </p>
            <div
              class="flex justify-between text-[5vw] font-[700] leading-[.9]"
            >
              <h1>ANIMA X3</h1>
              <h1>003</h1>
            </div>
            <div class="flex justify-end">
              <a
                class="text-white w-fit rounded-md px-4 py-1 bg-black mt-4 text-sm"
                href="#"
                >Quick Add</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="page4 h-[100vh] w-full overflow-hidden">
        <img
          class="h-full w-full object-cover"
          src="https://x8.adencys.com/img/promotions.jpg"
          alt=""
        />
      </div>

      <div class="footer bg-black flex justify-between text-zinc-400 px-4 py-4">
        <div class="elem flex flex-col gap-2">
          <h1 class="text-white mb-12">SHOP</h1>
          <a href="">ALL</a>
          <a href="">COLLECTIONS</a>
        </div>
        <div class="elem flex flex-col gap-2">
          <h1 class="text-white mb-12">ASSISTANCE</h1>
          <a href="">ORDERS & SHIPPING</a>
          <a href="">RETURNS & EXCHANGES</a>
          <a href="">SIZE GUIDE</a>
          <a href="">CONTACT</a>
        </div>
        <div class="elem flex flex-col gap-2">
          <h1 class="text-white mb-12">LEGAL</h1>
          <a href="">TERMS OF SERVICE</a>
          <a href="">PRIVACY POLICY</a>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/lenis@1.1.4/dist/lenis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="/javascripts/fe-index.js"></script>
  </body>
</html>
